<section id="tabla-mision" class="padded">
  <div class="container">
    <h2>Usuario</h2>
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAgregar" role="button" aria-expanded="false"
        aria-controls="collapseAgregar">
        Nuevo Usuario
      </a>


    </p>
    <div class="collapse" id="collapseAgregar">
      <div class="card card-body">
        <form ngNativeValidate [formGroup]="usuarioAgregarForm" (ngSubmit)="agregarUsuario(usuarioAgregarForm.value)">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres" required
              minlength="2">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Direccion" formControlName="direccion" required
              minlength="4">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Puntos" formControlName="puntos" required
              minlength="1">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseAgregar">
              Agregar
            </button>
            <a class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAgregar"
              aria-expanded="false" aria-controls="collapseAgregar"> Cerrar
            </a>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead class="table table-dark">
        <tr>
          <th>Cod</th>
          <th>Nombres</th>
          <th>Direccion</th>
          <th>Email</th>
          <th>Puntos</th>
          <th>Rol</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filaUsuario of listaUsuarios">
          <td>{{filaUsuario.id}}</td>
          <td>{{filaUsuario.nombres}}</td>
          <td>{{filaUsuario.direccion}}</td>
          <td>{{filaUsuario.email}}</td>
          <td>{{filaUsuario.puntos}}</td>
          <td>{{filaUsuario.rol==1?'ADMIN':'USER'}}</td>
          <td (click)="editarUsuario(filaUsuario)"><a class="btn btn-warning"><fa-icon [icon]="faEdit"
                data-bs-toggle="modal" data-bs-target="#formulario-actualizar"></fa-icon></a></td>
          <td (click)="eliminarUsuario(filaUsuario)"><a class="btn btn-danger"><fa-icon [icon]="faTimes"></fa-icon></a>
          </td>

        </tr>
      </tbody>
    </table>

  </div>


</section>
<!-- Modal -->
<div class="modal fade" id="formulario-actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Mision</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form ngNativeValidate [formGroup]="usuarioActualizarForm"
        (ngSubmit)="actualizarUsuario(usuarioActualizarForm.value)" *ngIf="usuarioActualizar">

        <div class="modal-body">
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="id" [(ngModel)]="usuarioActualizar.id" readonly>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres"
              [(ngModel)]="usuarioActualizar.nombres" required minlength="2">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email"
              [(ngModel)]="usuarioActualizar.email" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Direccion" formControlName="direccion"
              [(ngModel)]="usuarioActualizar.direccion" required minlength="4">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Puntos" formControlName="puntos"
              [(ngModel)]="usuarioActualizar.puntos" required minlength="1">
          </div>

          <div class="mb-3">
            <select class="form-control" formControlName="estado" [(ngModel)]="usuarioActualizar.estado" required>
              <option value="VALIDACION">Validación</option>
              <option value="ACTIVO">Activo</option>
              <option value="INACTIVO">Inactivo</option>
              <!-- Agrega más opciones según tus necesidades -->
            </select>
          </div>
          <div class="mb-3">
            <select class="form-control" formControlName="rol" [(ngModel)]="usuarioActualizar.rol" required>
              <option value="1">ADMIN</option>
              <option value="0">USER</option>
              <!-- Agrega más opciones según tus necesidades -->
            </select>
          </div>


        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="botonCerrar">Close</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>